<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1 class="center">Orders</h1>
    <ul>
        <% todos.forEach( el=> { %>
            <li class='todoItem center' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? ' completed' : 'not' %>'><%= el.todo %></span>
                <% if (user.chef !=='on' ) { %>
                    <span class='del'> Delete </span>
                    <%}%>
            </li>
            <% }) %>
    </ul>

    <h2 class="center">
        <%= user.userName %> has <%= left %> order<% if (left> 1 || left === 0) {%>s<%} %>%>.
    </h2>

    <% if (user.chef !=='on' ) { %>
        <form class="center" action="/todos/createTodo" method='POST'>
            <input a href class='butt cheeburger' type="submit" name="todoItem" value="Cheeseburger" placeholder="Cheeseburger">
            <input class='butt burger' type="submit" name="todoItem" value="Hamburger" placeholder="Hamburger">
            <input class='butt waffle' type="submit" name="todoItem" value="Waffleburger" placeholder="Waffleburger"><br>
            
           
        </form>

        <form class="center" action="/todos/createTodo" method='POST'>
            <input class='butt fries' type="submit" name="todoItem" value="Fries" placeholder="Fries">
            <input class='butt drink' type="submit" name="todoItem" value="Drinks" placeholder="Drink">
        </form>
        <%}%>
            <div class="center log">
                <a href="/logout">Logout</a>
            </div>
            <script src="js/main.js"></script>
</body>

</html>